main > section > h3 {
	font-size: 2em;
	margin: 0;
	color: var(--accent);
}

main > section > table {
	margin-top: 1em;
	border-collapse: separate;
	outline: 2px solid var(--accent);
	outline-offset: 1px;
}

main > section > table > thead > tr > th {
	min-width: 3em;
	background-color: var(--accent);
	color: white;
	padding: 5px;
}

main > section > table > * > tr > td {
	text-align: center;
}

main > section > table > tbody > tr > td:nth-of-type(2) {
	text-align: left;
}


main > section > table > tbody > tr > td:not(:nth-of-type(1)) {
	font-weight: bold;
}

main > section > table > tbody > tr:nth-of-type(even) {
	background-color: #E9F2FB;
}

main > section > table > tbody > tr > td:nth-of-type(1) > a {
	font-family: monospace;
	text-transform: uppercase;
	font-size: 1.2em;
}

main > section > form > label {
	font-weight: bold;
	display: inline-block;
	min-width: 4em;
}
