<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/courses.css}">
	<title></title>
</head>
<body>
	<header>
		<h1>Programme annuel des étudiants</h1>
		<img th:src="@{/image/logo.png}">
		<h2>he2b / webg5 / mcd / 2020-2021</h2>
	</header>
	<main>
		<h3>Liste des cours</h3>
		<table th:unless="${courses.isEmpty()}">
			<thead>
				<tr>
					<th>Sigle</th>
					<th>Titre</th>
					<th>ECTS</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course : ${courses}">
					<td >
						<a th:href="@{/courses/{courseId}/(courseId=${course.id})}" th:text="${course.id}"></a>
					</td>
					<td th:text="${course.label}"></td>
					<td th:text="${course.ects}"></td>
				</tr>
			</tbody>
		</table>
		<p th:if="${courses.isEmpty()}">Aucun cours</p>
	</main>
	<footer></footer>
</body>
</html>
