<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<title></title>
</head>
<body>
	<header>
		<h1>Programme annuel des étudiants</h1>
		<img th:src="@{/image/logo.png}">
		<h2>he2b / webg5 / mcd / 2020-2021</h2>
	</header>
	<main>
		<p>Bienvenue <span th:text="${username}">Inconnu</span> sur le site de gestion du programme annuel des étudiants</p>
	</main>
	<footer></footer>
</body>
</html>
