:root {
	--accent: #1F4B7E;
	--accent2: #4588d4;
	--error: #ec3636;
}

* {
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

header {
	background-color: var(--accent);
	color: white;
	padding: 2em;
}

header > h1 {
	color: white;
	margin: 0;
	font-family: sans-serif;
	display: inline-block;
}

header > img {
	height: 50px;
	vertical-align: top;
	float: right;
}

header > h2 {
	color: white;
	margin: 0;
	text-transform: uppercase;
	font-size: 1em;
	font-family: sans-serif;
}

nav {
	background-color: var(--accent2);
	height: 2.5em;
	line-height: 2.5em;
	padding-left: 1em;
}

nav > a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	margin: 1em;
}

main {
	padding: 1em;
}

main > section+section {
	margin-top: 2em;
	border-top: solid 1px var(--accent);
}
